openapi: 3.0.0
info:
  title: "API Documentation"
  version: 1.0.0
servers:
  - url: https://azeelapp.com
    description: "Default Server"
paths:
  /api/v1/login:
    post:
      tags:
        - Auth
      summary: Login
      operationId: authLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - mobile
                - password
              properties:
                mobile:
                  type: string
                password:
                  type: string
              type: object
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        422:
          description: "Validation error"
  /api/v1/register:
    post:
      tags:
        - Auth
      summary: Register
      operationId: authRegister
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                password_confirmation:
                  type: string
              type: object
      responses:
        200:
          description: OK
        422:
          description: "Validation error"
  /api/v1/reset-password-send-email:
    post:
      tags:
        - Auth
      summary: "Send password reset email"
      operationId: authSendPasswordResetEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
              type: object
      responses:
        200:
          description: OK
  /api/v1/reset-password:
    post:
      tags:
        - Auth
      summary: "Reset password"
      operationId: authResetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - mobile
                - password
                - password_confirmation
              properties:
                mobile:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
              type: object
      responses:
        200:
          description: OK
  /api/v1/profile:
    get:
      tags:
        - Auth
      summary: "Get profile"
      operationId: authGetProfile
      responses:
        200:
          description: OK
  /api/v1/profile-update:
    post:
      tags:
        - Auth
      summary: "Update profile"
      operationId: authUpdateProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - home_zone
                - home_lat
                - home_lng
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                mobile:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                home_zone:
                  type: string
                home_lat:
                  type: string
                home_lng:
                  type: string
                work_zone:
                  type: string
                work_lat:
                  type: string
                work_lng:
                  type: string
                type:
                  type: string
              type: object
      responses:
        200:
          description: OK
  /api/v1/logout:
    post:
      tags:
        - Auth
      summary: Logout
      operationId: authLogout
      responses:
        200:
          description: OK
  /api/v1/items/all:
    get:
      tags:
        - Items
      summary: "List items"
      operationId: itemsList
      responses:
        200:
          description: OK
  /api/v1/orders/store:
    post:
      tags:
        - Orders
      summary: "Create order"
      operationId: ordersCreate
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v1/orders/update-status:
    post:
      tags:
        - Orders
      summary: "Update order status"
      operationId: ordersUpdateStatus
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v1/orders/account-orders:
    get:
      tags:
        - Orders
      summary: "Get account orders"
      operationId: ordersGetAccountOrders
      responses:
        200:
          description: OK
  /api/v1/orders/order-details:
    get:
      tags:
        - Orders
      summary: "Get order details"
      operationId: ordersGetOrderDetails
      responses:
        200:
          description: OK
  /api/v1/orders/reschedule-order:
    post:
      tags:
        - Orders
      summary: "Reschedule order"
      operationId: ordersReschedule
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v1/trips/driver-all-trips:
    get:
      tags:
        - Trips
      summary: "Get driver trips"
      operationId: tripsGetDriverTrips
      responses:
        200:
          description: OK
  /api/v1/trips/active-trips:
    get:
      tags:
        - Trips
      summary: "Get active trips"
      operationId: tripsGetActiveTrips
      responses:
        200:
          description: OK
  /api/v1/trips/start-trip:
    post:
      tags:
        - Trips
      summary: "Start a trip"
      operationId: tripsStart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - trip_code
              properties:
                trip_code:
                  type: string
              type: object
      responses:
        200:
          description: OK
  /api/v1/trips/end-trip:
    post:
      tags:
        - Trips
      summary: "End a trip"
      operationId: tripsEnd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - trip_code
              properties:
                trip_code:
                  type: string
              type: object
      responses:
        200:
          description: OK
  /api/v1/trips/get-trip:
    get:
      tags:
        - Trips
      summary: "Get trip"
      operationId: tripsGet
      parameters:
        - name: trip_code
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
  /api/v1/trips/update-trip-location:
    post:
      tags:
        - Trips
      summary: "Update trip location"
      operationId: tripsUpdateLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - trip_code
                - lat
                - lng
              properties:
                trip_code:
                  type: string
                lat:
                  type: number
                  format: float
                lng:
                  type: number
                  format: float
              type: object
      responses:
        200:
          description: OK
  /api/v1/invoices/all:
    get:
      tags:
        - Invoices
      summary: "List invoices"
      operationId: invoicesList
      responses:
        200:
          description: OK
  /api/v1/invoices/pay-invoice:
    post:
      tags:
        - Invoices
      summary: "Pay invoice"
      operationId: invoicesPay
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v1/credits/get-balance:
    get:
      tags:
        - Credits
      summary: "Get credit balance"
      operationId: creditsGetBalance
      responses:
        200:
          description: OK
  /api/v1/credits/get-balance-history:
    get:
      tags:
        - Credits
      summary: "Get credit balance history"
      operationId: creditsGetBalanceHistory
      responses:
        200:
          description: OK
  /api/v1/credits/add-credit:
    post:
      tags:
        - Credits
      summary: "Add credit"
      operationId: creditsAdd
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v1/credits/limit:
    get:
      tags:
        - Credits
      summary: "Get credit limit"
      operationId: creditsGetLimit
      responses:
        200:
          description: OK
  /api/v1/tickets/store:
    post:
      tags:
        - Tickets
      summary: "Create ticket"
      operationId: ticketsCreate
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v1/tickets/update-status:
    post:
      tags:
        - Tickets
      summary: "Update ticket status"
      operationId: ticketsUpdateStatus
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v1/tickets/remove-locker:
    post:
      tags:
        - Tickets
      summary: "Remove locker"
      operationId: ticketsRemoveLocker
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v1/verify-locker:
    post:
      tags:
        - Tickets
      summary: "Verify locker"
      operationId: ticketsVerifyLocker
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - locker_code
              properties:
                locker_code:
                  type: string
              type: object
      responses:
        200:
          description: OK
  /api/v1/request-locker:
    post:
      tags:
        - Tickets
      summary: "Request locker"
      operationId: ticketsRequestLocker
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - zone_id
                - lat
                - lng
              properties:
                zone_id:
                  type: integer
                lat:
                  type: number
                  format: float
                lng:
                  type: number
                  format: float
              type: object
      responses:
        200:
          description: OK
  /api/v1/install-locker:
    post:
      tags:
        - Tickets
      summary: "Install locker"
      operationId: ticketsInstallLocker
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - locker_id
              properties:
                locker_id:
                  type: integer
              type: object
      responses:
        200:
          description: OK
  /api/v1/available-promo-cards:
    get:
      tags:
        - Credits
      summary: "List available promos"
      operationId: creditsListAvailablePromos
      responses:
        200:
          description: OK
  /api/v1/use-promo:
    post:
      tags:
        - Credits
      summary: "Use promo"
      operationId: creditsUsePromo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - promo_code
              properties:
                promo_code:
                  type: string
              type: object
      responses:
        200:
          description: OK
  "/api/v1/memberships/customer-bundle-info/{customer_id}":
    get:
      tags:
        - Credits
      summary: "Get customer bundle info"
      operationId: membershipsGetCustomerBundleInfo
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
  "/api/v1/memberships/customer-remaining-items/{customer_id}":
    get:
      tags:
        - Credits
      summary: "Get customer remaining items"
      operationId: membershipsGetCustomerRemainingItems
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
  /api/v1/settings/get-mobile-version:
    get:
      tags:
        - Items
      summary: "Get minimum mobile versions"
      operationId: settingsGetMobileVersion
      responses:
        200:
          description: OK
  /health:
    get:
      tags:
        - System
      summary: "Health check"
      operationId: systemHealth
      responses:
        200:
          description: OK
  /api/v2/logs/add-log:
    post:
      tags:
        - "V2 Logs"
      summary: "Add log"
      operationId: v2LogsAdd
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v2/trips/get-trip:
    get:
      tags:
        - "V2 Trips"
      summary: "Get trip"
      operationId: v2TripsGet
      responses:
        200:
          description: OK
  /api/v2/lockers/locker-details:
    get:
      tags:
        - "V2 Lockers"
      summary: "Get locker details"
      operationId: v2LockersGetDetails
      responses:
        200:
          description: OK
  /api/v2/customers/save-customer-cc:
    post:
      tags:
        - "V2 Customers"
      summary: "Save customer card"
      operationId: v2CustomersSaveCard
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
  /api/v2/profile-update:
    post:
      tags:
        - "V2 Profile"
      summary: "Update profile"
      operationId: v2ProfileUpdate
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: OK
tags:
  - name: Auth
    description: "Authentication endpoints"
  - name: Items
    description: "Items endpoints"
  - name: Orders
    description: "Orders endpoints"
  - name: Trips
    description: "Trips endpoints"
  - name: Invoices
    description: "Invoices endpoints"
  - name: Credits
    description: "Credits endpoints"
  - name: Tickets
    description: "Tickets endpoints"
  - name: "V2 Logs"
    description: "v2 Logs endpoints"
  - name: "V2 Trips"
    description: "v2 Trips endpoints"
  - name: "V2 Lockers"
    description: "v2 Lockers endpoints"
  - name: "V2 Customers"
    description: "v2 Customers endpoints"
  - name: "V2 Profile"
    description: "v2 Profile endpoints"
  - name: System
    description: System
